<!DOCTYPE html>
<html>
<link>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OctoShelf</title>
<link rel="stylesheet" type="text/css" href="./styles/octicons.css"></link>
<link rel="stylesheet" type="text/css" href="./styles/style.css"></link>
</head>
<body>
<main id="app" class="app">
    <section id="addSection" class="app-prompt">
        <form id="addRepoForm" class="bubble">
            <h1>OctoShelf</h1>
            <div class="addRepoInput-wrapper">
                <div class="addRepoInput-prefix"><%= githubUrl %></div>
                <input type="text" id="addRepoInput" class="addRepoInput-input" placeholder="Repository Url" />
            </div>
            <div>
                <a href="#" id="syncAll" class="octicon octicon-sync"></a>
                <% if(!accessToken) { %>
                    <a href="<%= githubAuthUrl %>" id="authStatus" class="octicon octicon-alert tokenNeeded-anchor">
                        <span class="tokenNeeded-content">
                            You are absolutely free to use this app without authenticating,
                            however GitHub ratelimits api calls of token-less users.
                        </span>
                    </a>
                <% } %>
            </div>
        </form>
    </section>
    <section class="app-repositoriesWrapper">
        <section id="repoSection" class="app-repositories"></section>
    </section>
    <section id="notifications" class="notifications"></section>
    <div class="infoPanel">
        <span class="infoPanel-description">
            A
            <a href="https://github.com" class="octicon octicon-logo-github"></a>
            powered
            <span class="octicon octicon-git-pull-request"></span>
            <span class="octicon octicon-dashboard"></span>
        </span>
        <span class="infoPanel-actions">
            <span class="refreshRate_wrapper">
                <span class="octicon octicon-clock refreshRate_icon" id="refreshRateIcon"></span>
                <div class="refreshRate_moreInfo">
                    <div>Refresh Rate</div>
                    <ul class="refreshRate_options" id="refreshRateOptions">
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate" value="0" />
                                <span class="refreshRate_inputDisplay">None</span>
                            </label>
                        </li>
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate"  value="60000" checked="checked" />
                                <span class="refreshRate_inputDisplay">1 min</span>
                            </label>
                        </li>
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate" value="300000" />
                                <span class="refreshRate_inputDisplay">5 mins</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </span>
            <span class="notification-wrapper">
                <a id="requestNotifications" href="#" class="octicon octicon-broadcast notification-button"></a>
                <div class="notification-moreInfo">Allow Notifications?</div>
            </span>
            <div class="octicon octicon-question moreInfo-wrapper" tabindex="1"></div>
            <div class="moreInfo-content">
                <h2>Welcome to OctoShelf!</h2>
                This is a side-projected aimed at making it easier to manage pull requests
                across multiple repositories. Feel free to make contributions or fork me.
                <a class="octicon octicon-mark-github moreinfo-githubLink" href="https://github.com/TheIronDeveloper/octoshelf"></a>
            </div>
        </span>
    </div>
</main>
<script src="./scripts/octoshelf.js"></script>
<script>
    OctoShelf({
        initAccessToken: '<%= accessToken %>',
        initApiUrl: '<%= apiUrl %>',
        initGithubUrl: '<%= githubUrl %>'
    });
</script>
</body>
</html>