<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>OctoShelf</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#333333">
    <link rel="stylesheet" type="text/css" href="./styles/octicons.css">
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
<main id="octoshelf" class="app">
    <section id="addSection" class="app-prompt">
        <form id="addRepoForm" class="bubble">
            <img class="octoshelf-icon" src="/images/octoshelf-icon.png" alt="OctoShelf, a GitHub powered pull request manager" />
            <div class="addRepoInput-wrapper">
                <div class="addRepoInput-prefix"><%= githubUrl %></div>
                <input type="text" id="addRepoInput" class="addRepoInput-input" placeholder="Repository Url" />
            </div>
            <div>
                <a href="#" id="syncAll" class="octicon octicon-sync"></a>
                <% if(!accessToken) { %>
                <a href="<%= githubAuthUrl %>" id="authStatus" class="octicon octicon-alert tokenNeeded-anchor">
                        <span class="tokenNeeded-content">
                            You are absolutely free to use this app without authenticating,
                            however GitHub ratelimits api calls of token-less users.
                        </span>
                </a>
                <% } %>
            </div>
        </form>
    </section>
    <section class="app-repositoriesWrapper">
        <section id="repoSection" class="app-repositories"></section>
    </section>
    <section id="notifications" class="notifications"></section>
    <section id="appBackground" class="app-background"></section>
</main>
<section class="infoPanel">
    <section class="infoPanel-topPanel">
        <h1>OctoShelf</h1><span class="tagline">, <span class="tagline-githubPowered">a
            <a href="https://github.com" class="octicon octicon-logo-github"></a>
            powered</span> pull request manager
            </span>
        <img class="octoshelf-icon" src="/images/octoshelf-icon.png" alt="OctoShelf, a GitHub powered pull request manager" />
        <span class="infoPanel-actions">
            <a href="#" class="octicon octicon-clock infoPanel-action refreshRate-toggle" id="refreshRateToggle"></a>
            <a href="#" class="octicon octicon-broadcast infoPanel-action notification-button" id="requestNotifications"></a>
            <a href="#" id="toggleViewType" class="octicon octicon-three-bars infoPanel-action toggleViewType"></a>
            <a href="#" id="shareToggle" class="octicon octicon-link infoPanel-action share-toggle"></a>
            <a href="#" id="moreInfoToggle" class="octicon octicon-question infoPanel-action moreInfo-toggle"></a>
            <span class="toggleContentContainer">
                <span id="refreshContent" class="refreshRate_moreInfo">
                    <div>Refresh Rate</div>
                    <ul class="refreshRate_options" id="refreshRateOptions">
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate" value="0" />
                                <span class="refreshRate_inputDisplay">None</span>
                            </label>
                        </li>
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate"  value="60000" checked="checked" />
                                <span class="refreshRate_inputDisplay">1 min</span>
                            </label>
                        </li>
                        <li>
                            <label class="refreshRate_option">
                                <input class="refreshRate_input" type="radio" name="refreshRate" value="300000" />
                                <span class="refreshRate_inputDisplay">5 mins</span>
                            </label>
                        </li>
                    </ul>
                </span>
                <span id="shareContent" class="share-content">
                    <span>Share These Repos:</span>
                    <textarea class="share-urlInput" id="shareUrl" readonly onClick="this.setSelectionRange(0, this.value.length)"></textarea>
                </span>
            </span>
        </span>
    </section>
    <section id="infoPanelDescription" class="infoPanel-description">
        <h2>Welcome to OctoShelf!</h2>
        <p>OctoShelf is here to help you manage pull requests across multiple repositories.</p>
        <p>OctoShelf is powered by <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">LocalStorage</a>,
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">WebWorkers</a>,
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/notification">Notifications</a>,
            and <a href="https://developer.github.com/v3/">Github's Api</a>.</p>

        <a class="octoshelf-transparent" href="https://github.com/OctoShelf/octoshelf"></a>
    </section>
    <section class="infoPanel-example">
        <h2>Enterprise Usage</h2>
        <p>If you want to use OctoShelf for public Github, you're in the right place!</p>
        <p>But, lets say you want this on an enterprise account. All you need to do is fork this repo, and make two changes.</p>
        <ol class="infoPanel-steps">
            <li>
                Update config to point to your enterprise endpoints
    <pre class="infoPanel-exampleCode">
    <h3 class="infoPanel-exampleCode-header">/config/githubApi.json</h3>
    {
      "githubAuthUrl":  "", // request github access url (redirects back to /auth)
      "githubTokenUrl": "", // retrieves access_token (called from /auth?code=xxx)
      "apiUrl":         "", // root github api urls
      "githubUrl":      ""  // root github repository urls
    }
    </pre>
            </li>
            <li>
                Start the app with a public access token or a clientId and clientSecret
    <pre class="infoPanel-exampleCode">
    <h3 class="infoPanel-exampleCode-header">Starting the App</h3>
    <span class="highlight">PERSONAL_ACCESS_TOKEN</span>=xxx npm start

     - or -

    <span class="highlight">GITHUB_CLIENT_ID</span>=xxx <span class="highlight">GITHUB_CLIENT_SECRET</span>=xxx npm start
    </pre>
            </li>
        </ol>
    </section>
</section>
<script>
    var hydratedConfig = {
        initAccessToken: '<%= accessToken %>',
        sharedRepos: '<%= sharedRepos %>',
        origin: '<%= origin %>'
    }
</script>
<script src="/app.js"></script>
</body>
</html>